table {
    width: 95%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}
th {
    background-color: orange;
    color: white;
    text-align: center;
    border: 1px solid white;
}
td {
    background-color: white;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.tin_hieu[data-value="MUA"] {
    color: green;
}
.tin_hieu[data-value="BÁN"] {
    color: red;
}
.gia_hien_tai {
    color: black;
}
.percent[data-value^="-"] {
    color: red;
}
.percent[data-value="0.0"], .percent[data-value="0"], .percent[data-value="0.00"] {
    color: orange;
}
.percent[data-value]:not([data-value^="-"]):not([data-value="0"]):not([data-value="0.0"]):not([data-value="0.00"]) {
    color: green;
}

